#one{
    font-family:'Times New Roman';
}
#two{
    font-family: Arial;
}
#three{
    font-family: Calibri;
}
#four{
    font-family: Cambria;
}
#five{
    font-family: 'Arial Narrow';
}
#six{
    font-family: sans-serif;
}

